<form [formGroup]="productFilterForm" (ngSubmit)="handleFilterSubmit()" class="product__filter">
  <mat-form-field class="product__filter-field" appearance="outline">
    <mat-label for="name" class="product__filter-label">Name includes: {{ productSearchName$ | async}}</mat-label>
    <input matInput type="text" formControlName="name" class="product__filter-input">
  </mat-form-field>
  <mat-form-field class="product__filter-field">
  <mat-label for="category"  class="product__filter-label">{{ (selectedCategory$ | async)?.name  }}</mat-label>
    <mat-select type="text" formControlName="category" class="product__filter-input">
      <mat-option>-- None --</mat-option>
      <mat-option [value]="category" *ngFor="let category of categories$ | async">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" mat-button color="primary">Select category</button>
</form>