.produc-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 200px;

        &__header {
            display: flex;
            flex-direction: column;
        }

        &__content {
            display: flex;
            flex-direction: column;
        }
}